@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.policies-block {
  width: 100%;
  background-color: #1e293b;
  border: 1px solid #313b54;
  border-radius: 20px;
  padding: 20px;

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}
