@font-face {
  font-family: 'SK Reykjavik Rounded';
  src: url('../fonts/Salih\ Kizilkaya\ -\ SK\ Reykjavik\ Rounded\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SK Reykjavik Rounded Slab';
  src: url('../fonts/Salih\ Kizilkaya\ -\ SK\ Reykjavik\ Rounded\ Slab\ Reg.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}