@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.progress {
  &__bar {
    position: relative;
    width: 100%;
    background-color: #333;
    border-radius: 8px;
    height: 25px;
    overflow: hidden;
  }

  &__title {
    color: #94a3b8;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__target {
    color: #94a3b8;
    font-size: 14px;
    font-weight: 400;
  }

  &__segment {
    height: 100%;
    float: left;
    transition:
      width 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  &__current-value {
    position: absolute;
    top: 10%;
    left: 25%;
    color: var.$text-main;
    font-size: 14px;
  }

  &__block-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &__arrow {
    width: 18px;
    height: 18px;
  }

  &__diff {
    color: #3BB979;
    font-size: 14px;
    font-weight: 400;
  }
}
